body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-color:rgba(214, 230, 72, 0.514) ;
}

#headerimg{
    width: 600px;
    height: auto;
    padding: 2px;
    outline: 8px double;
    margin: 8px 0px 50px;
    background-color: white;

}

.main.header{
    font-size: 38px;

}

.recipes{
    text-align: left;
    margin-left: 50px;
    margin-top: 60px;
}

.ul{
    list-style-type: none;
    padding: 20px;
    text-align: left;
    list-style:square;
    margin-left: 25px;
}

.list{
    font-size: 28px;
}

.pierogies{
    color: salmon
}

.barszcz{
    color: rgb(199, 26, 61);
}