body{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    background-color:rgba(147, 161, 14, 0.514) ;
}

#headerimg{
    width: 600px;
    height: auto;

}

.main.header{
    font-size: 38px;
    color: white;
    background-color: black;
}

.ul{
    list-style-type: none;
    padding: 20px;
}

.list{
    font-size: 28px;
}

.pierogies{
    color: bisque;
}

.barszcz{
    color: rgb(199, 26, 61);
}